<div class ="crop"
        [style.width.px] = "starWidth"
        [title] = "rating" 
        (click)="onClick()">
        <div style = "width:86px;" >
          <span class = "glyphicon glyphicon-star"></span>
          <span class = "glyphicon glyphicon-star"></span>
          <span class = "glyphicon glyphicon-star"></span>
          <span class = "glyphicon glyphicon-star"></span>
          <span class = "glyphicon glyphicon-star"></span>
        </div>
</div>

<!--<div class='crop'>
    <div [title]='rating' *ngFor='let index of range'>
        <i class='glyphicon' [ngClass]="index <= rating ? 'glyphicon-star' : 'glyphicon-star-empty'"></i>
    </div>
    https://plnkr.co/edit/40qjY7KGlRoysoDjhrBU?p=preview
</div>-->